# Database settings
POSTGRES_USER=test_user
POSTGRES_PASSWORD=test_password
POSTGRES_HOST=db
POSTGRES_DB_PORT=5432
POSTGRES_DB=notes_db
PGDATA=/var/lib/postgresql/data

# Gemini
GEMINI_API_KEY=gemini_api_key
